<link rel="stylesheet" href="/css/shop.css">
<section id="shop">
    
    <div class="shop-main">
        <div class="shop-heading" id="text">
            <!-- <h2>choose your respective bakery</h2>  -->
            <img src="../images/bakery.png" alt="">
        </div>
        <div class="bakers">
            <% profile.forEach((profile)=>{ %>
                <div class="column">
                    <div class="bakers-name">
                        <h3><%= profile.bakeryname %></h3> 
                        <img src="../images/chef.png" alt="">
                    </div>
                    <div class="content">
                        <div class="image-div">
                            <div class="img">
                                <img src="<%= profile.profileimage %>" alt="">
                            </div>
                            <p><%= profile.firstname %> <%=profile.lastname%></p>
                        </div>
                        <div class="info-box">
                            <div class="info-box2">
                                <div class="info area">
                                    <h3><span>Area: </span><%= profile.areacovered %></h3>
                                </div>
                                <div class=" info experience">
                                    <h3><span>Experience: </span><%= profile.experience %></h3>
                                </div>
                                <div class="info specialisation">
                                    <h3><span>Specialisation: </span><%= profile.speciality %></h3>
                                </div>
                                <div class="shop-btn">
                                    <div class="button">
                                        <div class="sub-btn"> 
                                        <button><a href="/shop/categories/<%= profile._id %>">SHOP<i class="fas fa-arrow-right"></i></a></button>
                                        </div>
                                        <div class="sub-btn">   
                                        <button><a href="/shop/reviews/<%= profile._id %>/all">REVIEWS<i class="fas fa-arrow-right"></i></a></button>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <%})%>
        </div>
    </div>
</section>

<script type="text/javascript">
var i=0,text;
text='choose your respective bakery';

function typing(){
    if(i<text.length){
        document.getElementById("text").innerHTML +=text.charAt(i);
        i++;
        // documnet.getElementById("text").classList.add(".heading ");

        setTimeout(typing,100);
    }
        documnet.getElementById("text").classList.add("shop-heading ");

}
typing();

</script>

<script src="/js/shop.js"></script>