<link rel="stylesheet" href="/css/single-product.css">

<section id="description">
    <div class="d-main">

        <div class="d-image">
            <div class="img">
                <img src="<%=product.productimage%>" alt="<%= product.name %>" id="productimg">
            </div>
            <div class="image-name">
                <h2><%=product.name%></h2>
                <p>Rs <%=product.price%>/-</p>
            </div>
        </div>

        <div id="imgModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

        <div class="info-div ">
            <div class="product-infor  product-d">
                <p><span>description :</span> <%=product.description%></p>
            </div>

            <div class="flavour product-d">
                <p><span>flavour :</span> <%=product.flavour%></p>
            </div>

            <div class="product-weight product-d">
                <p><span>product weight :</span> <%=product.weight%></p>
            </div>

            <div class="serving-size product-d">
                <p><span>serving size :</span> <%=product.serving_size%></p>
            </div>
            
            <div class="product-variants product-d">
                <p><span>different variants :</span> <%=product.variants%></p>
            </div>

            <div class="price-per-kg product-d">
                <p><span>price per kg :</span> <%=product.price_per_kg%></p>
            </div>

            <div class="customizable product-d">
                <p><span>customization :</span> <%=product.customizable%></p>
            </div>

            <div class="product-units product-d">
                <p><span>Number of units :</span> <%=product.units%></p>
            </div>

            <div class="product-expiry product-d">
                <p><span>Used by :</span> <%=product.expiry%></p>
            </div>

            <div class="product-delivery-time product-d">
                <p><span>Delivery time :</span> <%=product.delivery_time%></p>
            </div>

            <div class="product-eggless product-d">
                <p><span>Eggless :</span> <%=product.eggless%></p>
            </div>
        
        </div>

    </div>
</section>
<script src="/js/single-product.js"></script>