<link rel="stylesheet" href="/css/vendor.css">
<link rel="stylesheet" href="/css/product-cards.css">

<section id="vendor-profile">

    <div class="profile-board">
        <h1 id="profile-heading">VENDOR PROFILE</h1>

        <% if(profileExist == true) { %>
            <div class="profile-description">
                
                <div class="profile-image">
                    <img src="<%= profile.profileimage %>" alt="<%= profile.firstname + ' ' + profile.lastname %>">
                </div>

                <div class="profile-name-description">
                    <h2><%= profile.bakeryname %></h2>
                    <p><%= profile.description %></p>
                </div>

            </div>
        <% } %>
    </div>

    <div class="main-container">

        <div class="nav-menu">

            <ul class="nav-options">
                <li>
                    <div class="list-items">
                        <i class="fas fa-user"></i>
                        <a class="my-profile" href="/vendor/profile"> My Profile </a>
                    </div>
                </li>
                <li>
                    <div class="list-items">
                        <i class="fab fa-product-hunt"></i>
                        <a class="my-products" href=""> My Products </a>
                    </div>
                </li>
                <li>
                    <div class="list-items">
                        <i class="fas fa-sign-out-alt"></i>
                        <a class="logout" href="/vendor/sign-out"> Logout </a>
                    </div>
                </li>
            </ul>

        </div>
        <% if(called == 'profile') {%>
            <% if(profileExist == false) { %>
                <div class="info-container">

                    <h1 class="info-heading">Create Profile</h1>

                    <div class="info-form-container">

                        <form action="/vendor/createProfile" method="post" enctype="multipart/form-data">
                            <div class="inputbox">
                                <label>FIRST NAME</label>
                                <input type="text" name="firstname" id="first-name">
                            </div>
                            <div class="inputbox">
                                <label>LAST NAME</label>
                                <input type="text" name="lastname" id="last-name">
                            </div>
                            <div class="inputbox">
                                <label>Profile Image</label>
                                <input type="file" name="profileimage" id="profile-image">
                            </div>
                            <div class="inputbox">
                                <label>Contact Number</label>
                                <input type="text" name="contact" id="contactNo-id">
                            </div>
                            <div class="inputbox">
                                <label>BAKERY NAME</label>
                                <input type="text" name="bakeryname" id="bakery-name">
                            </div>
                            <div class="inputbox">
                                <label>Instagram Link</label>
                                <input type="url" name="instaid" id="insta-id">
                            </div>
                            <div class="inputbox">
                                <label>Facebook Link</label>
                                <input type="url" name="fbid" id="fb-id">
                            </div>
                            <div class="inputbox">
                                <label>EXPERIENCE</label>
                                <input type="text" name="experience" id="experience">
                            </div>
                            <div class="textarea-container">
                                <div class="textarea">
                                    <label>AREA COVERED</label>
                                    <textarea rows="4" name="areacovered" placeholder="Max-limit 30 Words" id="area-covered"></textarea>
                                </div>
                                <div class="textarea">
                                    <label>DESCRIPTION</label>
                                    <textarea rows="4" name="description" placeholder="Max-limit 30 Words" id="description"></textarea>
                                </div>
                                <div class="textarea">
                                    <label>SPECIALITY</label>
                                    <textarea rows="4" name="speciality" placeholder="Max-limit 30 Words" id="speciality"></textarea>
                                </div>
                            </div>

                            <div class="save-btn">
                                <button type="submit">SAVE DETAILS</button>
                            </div>
                        </form>

                    </div>

                </div>

            
            <% } else { %>
                <div class="profile-details" style="display: <%= display %>;">
                    
                    <div class="profile-heading">
                        <h1 class="info-heading"><i class="fas fa-user"></i>My Profile</h1>   
                    </div>
                        
                    <div class="profile-container">

                        <div class="profile-info">
                            <span class="info-title"><b>First Name</b></span>
                            <i class="fas fa-pencil-alt edit-firstname"></i>
                            <a href="/vendor/updateProfile/<%= profile._id %>" class="save firstname"><i class="fas fa-save"></i></a>
                            <br>
                            <span contenteditable="false" class="info-data display display-firstname"><%=profile.firstname%></span>
                        </div>

                        <div class="profile-info">
                            <span class="info-title"><b>Last Name</b></span>
                            <i class="fas fa-pencil-alt edit-lastname"></i>
                            <a href="/vendor/updateProfile/<%= profile._id %>" class="save lastname"><i class="fas fa-save"></i></a>
                            <br>
                            <span contenteditable="false" class="info-data display display-lastname"><%=profile.lastname%></span>
                        </div>

                        <div class="profile-info">
                            <span class="info-title"><b>Contact Number</b></span>
                            <i class="fas fa-pencil-alt edit-contact"></i>
                            <a href="/vendor/updateProfile/<%= profile._id %>" class="save contact"><i class="fas fa-save"></i></a>
                            <br>
                            <span contenteditable="false" class="info-data display display-contact"><%=profile.contact%></span>
                        </div>
                        
                        <div class="profile-info">
                            <span class="info-title"><b>Bakery Name</b></span>
                            <i class="fas fa-pencil-alt edit-bakeryname"></i>
                            <a href="/vendor/updateProfile/<%= profile._id %>" class="save bakeryname"><i class="fas fa-save"></i></a>
                            <br>
                            <span contenteditable="false" class="info-data display display-bakeryname"><%=profile.bakeryname%></span>
                        </div>

                        <div class="profile-info">
                            <span class="info-title"><b>INSTAGRAM ID</b></span>
                            <i class="fas fa-pencil-alt edit-instaid"></i>
                            <a href="/vendor/updateProfile/<%= profile._id %>" class="save instaid"><i class="fas fa-save"></i></a>
                            <br>
                            <span contenteditable="false" class="info-data display display-instaid"><a href="<%=profile.instaid%>" target="_blank"><%=profile.instaid%></a></span>
                        </div>

                        <div class="profile-info">
                            <span class="info-title"><b>FACEBOOK ID</b></span>
                            <i class="fas fa-pencil-alt edit-fbid"></i>
                            <a href="/vendor/updateProfile/<%= profile._id %>" class="save fbid"><i class="fas fa-save"></i></a>
                            <br>
                            <span contenteditable="false" class="info-data display display-fbid"><a href="<%=profile.fbid%>" target="_blank"><%=profile.fbid%></a></span>
                        </div>

                        <div class="textarea-container">
                            <div class="textarea-paragraph">
                                <span class="info-title"><b>AREA COVERED</b></span>
                                <i class="fas fa-pencil-alt edit-area"></i>
                                <a href="/vendor/updateProfile/<%= profile._id %>" class="save areacovered"><i class="fas fa-save"></i></a>
                                <p contenteditable="false" class="display display-area"><%=profile.areacovered%></p>
                            </div>
                            <div class="textarea-paragraph">
                                <span class="info-title"><b>Description</b></span>
                                <i class="fas fa-pencil-alt edit-description"></i>
                                <a href="/vendor/updateProfile/<%= profile._id %>" class="save description"><i class="fas fa-save"></i></a>
                                <p contenteditable="false" class="display display-description"><%=profile.description%></p>
                            </div>
                            
                            <div class="textarea-paragraph">
                                <span class="info-title"><b>Speciality</b></span>
                                <i class="fas fa-pencil-alt edit-speciality"></i>
                                <a href="/vendor/updateProfile/<%= profile._id %>" class="save speciality"><i class="fas fa-save"></i></a>
                                <p contenteditable="false" class="display display-speciality"><%=profile.speciality%></p>
                            </div>
                        </div>

                        <div class="profile-info">
                            <span class="info-title"><b>EXPERIENCE</b></span>
                            <i class="fas fa-pencil-alt edit-exp"></i>
                            <a href="/vendor/updateProfile/<%= profile._id %>" class="save experience"><i class="fas fa-save"></i></a>
                            <br>
                            <span contenteditable="false" class="info-data display display-exp"><%=profile.experience%></span>
                        </div>
                    </div>
                </div> 

                
            <% } %>
        <% } %>
        
        <div class="products-container" style="display: <%= product_display %>;">    
            <div class="products-container-nav">
                <h1><i class="fab fa-product-hunt"></i> My Products </h1>
                <div class="product-options">
                    <a href="/vendor/addItem" class="add-products">Add <i class="fas fa-plus"></i> </a>
                    <a href="" class="remove-products">Remove <i class="fas fa-trash-alt"></i> </a>
                    <a href="" class="remove-cancel">Cancel</a>
                </div>
            </div>
            <% if(productsExist == true) { %>
                <div class="row flex"> 
                    <% products.forEach(function(product){ %> 
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" id="product-<%= product._id %>">
                            <div class="single-product load-product">
                                <div class="remove-product">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter-<%= product._id %>">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    <div class="modal" id="exampleModalCenter-<%= product._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="modal-title" id="exampleModalLongTitle" style="text-transform: uppercase;">Confirm Deletion</h2>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" style="text-align: center;">
                                                    <h5>Are you sure you want to Delete this Product</h5>
                                                    <p><%=product.name%></p>
                                                    <img src="<%=product.productimage%>" alt="">
                                                </div>
                                                <div class="modal-footer">
                                                    <button  class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button href="/vendor/profile/remove-product/<%=product._id%>&<%=product.profile%>&<%=product.category%>" data-dismiss="modal" class="btn btn-primary delete-product-button">Confirm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                      
                                </div>
                                <div class="product-thumb">
                                    <img src="<%=product.productimage%>" alt="">
                                </div>
                                <div class="product-title">
                                    <h3> <a href="/single-product/<%=product._id%>"><%=product.name%></a>
                                    </h3>
                                </div>
                                <div class="description">
                                    <p><%=product.description%></p>
                                </div>
                                <div class="product-btns">
                                    <span class="btn-small mr-2 price"><%= product.price %>/-</span>
                                    <span class="btn-small"><i class="fa fa-info-circlefa fa-heart" style="color: red;transform: scale(1.25);padding-right: 2.5px;"></i><%=product.likes%></span>
                                </div> 
                                <div class="edit-product">
                                    <a href="/vendor/updateItem/<%=product._id%>" class="edit-prod">Edit <i class="fas fa-pencil-alt"></i></a>
                                </div>
                            </div>
                        </div> 
                    <% }) %>
                </div>
                <div class="row button-center">
                    <div class="col-xl-6 centered">
                        <a href="#" id="loadMore" class="bttn-def"><span>load more</span></a>
                    </div>
                </div> 
            <% } %>
        </div>
    </div>
</section>
<script src="/js/vendor.js"></script>
<script>
    $(document).ready(function() {
        $('.load-product').hide();
        $(".load-product").slice(0, 6).show();
        if ($(".load-product:hidden").length != 0) {
            $("#loadMore").show();
        }   
        console.log($('.load-product:hidden').length);
        $("#loadMore").on('click', function (e) {
            e.preventDefault();
            $(".load-product:hidden").slice(0, 12).slideDown();
            if ($(".load-product:hidden").length == 0) {
                $("#loadMore").fadeOut('slow');
            }
        });
    });
</script>